




.faceMenu {
    position: absolute;
    width: 10vw;
    top: 20vw;
    left: 89vw;
    z-index: 1000;
}

.ubiMenu {
    position: absolute;
    width: 10vw;
    top: 32vw;
    left: 89vw;
    z-index: 1000
}

.watsMenu {
    position: absolute;
    width: 10vw;
    top: 44vw;
    left: 89vw;
    z-index: 1000;
}

@keyframes bounceOut {
    20% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    50%,
    55% {
      opacity: 1;
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    to {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  }
